@import "tailwindcss";

/* 
--- 01 TYPOGRAPHY SYSTEM
      - FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      - Font Weight
      Default:   400
      Medium:    500
      Semi-Bold: 600
      Bold:      700

      - Line Weight
      Default:1
      Small : 1.05
      Medium:1.2
      Paragraph Default 1.6

      - Letter Spacing
        -0.5px
        0.75px

--- 02 COLORS
      - Primary: #e67e22
      - Tints: #fdf2e9
      - Shades: #cf711f
      - Accents: 
      - Greys :- #555

--- 05 SHADOWS

--- 06 BORDER-REDIUS
    - Default :9px

--- 07 WHITESPACE
      - SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@theme {
}

/* 
@layer theme, base, components, utilities;
*/
@layer base {
  /* Apply Default Style */
  html {
    font-size: 62.5%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert-layer;
    font-weight: revert-layer;
  }

  body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1;
    /* color: var(--color-grey-light); */
  }
}

@layer components {
}
