@import "tailwindcss";

@theme {
  --font-sans: var(--font-rubik);
  --default-font-family: var(--font-sans);

  /* 01 TYPOGRAPHY SYSTEM
      - FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  --text-10: 1rem;
  --text-12: 1.2rem;
  --text-14: 1.4rem;
  --text-16: 1.6rem;
  --text-18: 1.8rem;
  --text-20: 2rem;
  --text-24: 2.4rem;
  --text-30: 3rem;
  --text-36: 3.6rem;
  --text-44: 4.4rem;
  --text-52: 5.2rem;
  --text-62: 6.2rem;
  --text-74: 7.4rem;
  --text-86: 8.6rem;
  --text-98: 9.8rem;

  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --leading-default: 1;
  --leading-small: 1.05;
  --leading-medium: 1.2;
  --leading-large: 1.8;

  --tracking-tighter: -0.5px;
  --tracking-higher: 0.75px;

  --color-primary: #e67e22;
  --color-primary-tint-1: #fdf2e9;
  --color-primary-tint-2: #fae5d3;
  --color-primary-tint-3: #eb984e;
  --color-primary-shade-1: #cf711f;
  --color-primary-shade-2: #45260a;

  --color-grey-1: #888;
  --color-grey-2: #767676;
  --color-grey-3: #6f6f6f;
  --color-grey-4: #555;
  --color-grey-dark: #333;

  --radius-default: 0.9rem;
  --radius-medium: 1.1rem;

  /* ---------- 07 SPACING ---------- */
  --spacing: 0.1rem; /* p-{n} now equals n pixels, e.g. p-16 = 16px */
}

/* 
@layer theme, base, components, utilities;
*/
@layer base {
  /* Apply Default Style */
  html {
    font-size: 62.5%;
  }

  body {
    line-height: 1;
    font-weight: 400;
    color: #555555;
  }

  p {
    line-height: 1.6;
  }
}

@layer components {
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
  }

  .heading-primary {
    font-size: 5.2rem;
  }
}
